In [ ]:
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Here i am reading my csv file from my document directory 
filepath=r'C:\Users\user\Documents\score.csv';
file=pd.read_csv (filepath);

In [ ]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   BATSMAN  10 non-null     int64
 1   SCORE    10 non-null     int64
 2   AVERAGE  10 non-null     int64
 3   WICKETS  10 non-null     int64
 4   SALARY   10 non-null     int64
dtypes: int64(5)
memory usage: 464.0 bytes

In [ ]:
#this is for a cricket team which takes in input like batting average,wickets taken,runs scored and thier salary.
#If there is any ambiguity in thier data regarding any of thier parameters then it will be removed.
z = np.abs(stats.zscore(file))
print(z)
file[(np.abs(stats.zscore(file)) < 1).all(axis=1)]
#here in the output it is showing ambiguity in player 3 and player 6.This is because they have scored well
#also have good average and wickets in thier reputva but havent got enough salary, so the z-score of these two players suggest ambiguity

[[1.5666989  0.48011552 0.66073125 0.83516827 0.87608638]
 [1.21854359 0.99636877 0.48911275 0.36572728 1.43255935]
 [0.87038828 0.53174085 1.00396827 0.88975443 1.17755705]
 [0.52223297 0.94474345 0.83234976 0.83516827 0.39777778]
 [0.17407766 0.53174085 0.14587573 1.2172714  0.07967029]
 [0.17407766 1.89464942 1.22707233 0.91158889 1.03686117]
 [0.52223297 0.4284902  0.74654051 0.31114112 0.6817511 ]
 [0.87038828 0.17036357 0.48911275 0.83516827 1.19548465]
 [1.21854359 1.8430241  1.99935561 1.51203667 1.37217916]
 [1.5666989  0.34588968 1.14126308 1.51203667 0.88153637]]

   BATSMAN  SCORE  AVERAGE  WICKETS  SALARY
3        4     66       45       12   27896
6        7     56       44       33   29876

In [ ]:
#this was simply tested on random data which is not part of the assignment
np.random.seed(123)
RANDOM_DATA = pd.DataFrame(np.random.randn(100, 3))
RANDOM_DATA[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

           0         1         2
0  -1.085631  0.997345  0.282978
1  -1.506295 -0.578600  1.651437
2  -2.426679 -0.428913  1.265936
3  -0.866740 -0.678886 -0.094709
4   1.491390 -0.638902 -0.443982
..       ...       ...       ...
95 -0.682538 -1.653698  1.253336
96 -1.329079  0.278034 -1.074767
97  0.668317  0.955832 -0.877614
98 -1.923716  0.695787  1.875801
99  0.415695  0.160544  0.819761

[100 rows x 3 columns]

In [ ]:

print( pd.DataFrame(np.random.randn(100, 3)))

           0         1         2
0   0.765055 -0.828989 -0.659151
1   0.611124 -0.144013  1.316606
2  -0.704342  0.750610  0.342638
3  -0.126438  1.175911  0.680072
4  -1.004967  0.640219  1.374991
..       ...       ...       ...
95  0.674585  0.159749 -1.660475
96  0.588686  1.333191  2.559850
97  0.034903  0.232650  1.606597
98  0.168722  0.275342 -0.630618
99 -1.394375  0.912688 -1.273570

[100 rows x 3 columns]